/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 @font-face {
    font-family: 'Nerko';
    src: url('Nerko.ttf');
  }

  @font-face {
    font-family: 'NunitoSansItalic';
    src: url('NunitoSans-Italic.ttf');
  }

  @font-face {
    font-family: 'NunitoSans';
    src: url('NunitoSans.ttf');
  }

 :root {
    --bs-body-bg: #e0e0e0;
 }
 * {
  box-sizing: border-box;
}

 body {
    font-family: 'NunitoSans';
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
  }  

 .banner-background {
    background-image: url('banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Nerko';
    background-position: right;
  }

  .hero-img {
    background-image: url('circle.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    padding: 50px 0;    
    text-align: center;    
}
.main-content {
  flex-grow: 1;
  scroll-behavior: smooth;
}
